header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.sup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.logo {
    width: 100%;
    max-width: 400px;
    transition: ease-in 0.3s all;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: 0 !important;
}

.conteiner {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto !important;
    padding: 0 10px !important;
}

.second-logo {
    padding: 0 10px;
}

h1 {
    color: #e50038;
    font-size: 50px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    transition: 0.15s ease;
    position: relative;
}

span.sub-h {
    font-family: 'Merriweather', sans-serif;
    display: block;
    font-size: 13px;
    background-image: linear-gradient(to bottom, #e50038 1%, #d01388 100%);
    color: #fff;
    letter-spacing: 1.6em;
    font-weight: 700;
    padding: 4px 0 4px 1.6em;
    line-height: 1;
    text-align: center;
}

span.h1-span {
    position: relative;
}

span.h1-span::before {
    background: url("second-logo.svg") no-repeat;
    background-size: 100% 100%;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

ul.header-list {
    list-style: none;
    margin: 0;
}

ul.header-list li {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin: 0 0 0 5px;
}

ul.header-list li a {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    transition: 0.15s ease;
    white-space: nowrap;
    display: flex;
    align-items: center;
    line-height: 1.5;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.rigth-interface,
ul.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.icons i {
    border: 0px;
    cursor: pointer;
    padding: 5px;
    font-size: 30px;
    transition: 1s ease-in;
    width: 30px;
}

.svg-inline--fa {
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
    color: gray;
}

ul {
    list-style: none;
}

ul.nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0 10px;
}

ul.nav li {
    margin: 0;
    padding: 0 20px 0 0;
    font-size: 18px;
    font-weight: 300;
    color: #000000;
}

.sub-header {
    border-bottom: rgba(0, 0, 0, 0.05) 3px solid;
    padding: 5px 0;
    position: relative;
    max-height: 999px;
    height: 55px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.sub-mob,
.top-section {
    display: none;
}

.icon-mob,
.logos {
    display: none;
}

.icon-mob .mob-left {
    display: none;
}

aside {
    max-width: 280px;
    width: 100%;
    padding: 0 20px;

}

.content {
    width: calc(100% - (2*280px));
    flex: 0 0 calc(100% - (2*280px));
    max-width: calc(100% - (2*280px));
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

main {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 30px;
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.side-title {
    color: #d01388;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    justify-content: space-between;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
    padding-right: 10px;
    margin: 0 0 1em;
    line-height: 1.435;
    font-weight: 900;
    font-family: 'Roboto Condensed', sans-serif;
}

.side-title span {
    color: #e50038;
}

.widget-list-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.8;
    color: #000000;
}

.widget-list-title a {
    color: #066efc;
}

ul.widget-list {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.widget-text {
    padding-right: 20px;
    font-size: 13px;
    font-weight: 900;
    color: #000;
    margin: 0 0 1em;
    line-height: 1.435;
    margin-bottom: 0.5em;
    font-family: 'Merriweather', sans-serif;
}

.widget-time {
    margin-right: 20px;
    white-space: nowrap;
    color: #999;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

ul.widget-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 13px 0;
}

.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.target-btn a,
.timer .target-btn a:not() {
    width: 100%;
    padding: 15px 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1em;
    transition: ease-in 0.2s color, ease-in 0.2s background;
    display: block;
    border-radius: 4px;
    text-align: center;
    background-color: #d01388;
    border-color: #d01388;
}

.navigation a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    transition: ease 0.1s;
    color: #d01388;
    line-height: 1.3;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 58px;
}

.rigth-btn {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 700;
    font-family: 'Roboto Condensed';
    text-align: center;
    font-size: 10px;
    background-color: #002793;
    color: #fff;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-top: 8px;
    padding-bottom: 10px;
    max-width: 50px;
}

.tags a {
    color: #e50038;
    transition: color 110ms ease-in-out;
    font-size: 18px;
    font-family: "Merriweather";
    font-weight: 900;
}

h2 {
    font-size: 45px;
    font-family: "Roboto Condensed";
    color: #000000;
    font-weight: 700;
    line-height: 1.111;
    margin-bottom: 25px;
    margin: 0 0 1em;
}

.publosher {
    line-height: 1.286;
    letter-spacing: 0.02em;
    font-size: 13px;
    color: #999999;
    margin: 0;
}

.publosher a {
    color: #066efc;
}

.wiman-name {
    font-weight: 700;
    color: #555;
    font-size: 13px;
    text-align: center;
    line-height: 1.625;
    margin-top: .5em;
    margin-bottom: 1em;
}

.content p {
    font-size: 16px;
    color: #353535;
    line-height: 1.625;
    letter-spacing: 0.02em;
    margin-bottom: 2em;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

h3.facts {
    font-size: 23px;
    font-weight: 900;
    color: #000;
    margin: 0 0 1em;
    line-height: 1.435;
    margin-bottom: 10px;
    margin-top: -0.3em;
    font-family: 'Merriweather', sans-serif;
}


.sign {
    font-size: 16px;
    color: #092277;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    text-transform: uppercase;
}

.content .target-btn {
    max-width: 220px;
    margin: 0 auto;
}

footer {
    font-size: 12px;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

footer.timer {
    padding-bottom: 110px;
}

.widget-list-title a:hover {
    text-decoration: underline;
    color: #000;
}

.widget-text a:hover {
    text-decoration: none;
}

ul.nav a:hover {
    color: #d01388;
}

ul.header-list li a:hover {
    color: #066efc;
    border: 1px solid #066efc;
}

.icons a:hover svg {
    color: #066efc;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.button-wrapper .target-btn {
    margin: 0 10px;
}

.target-btn button {
    width: 100%;
    padding: 15px 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #d01388;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1em;
    transition: ease-in 0.2s color, ease-in 0.2s background;
    display: block;
    border-radius: 4px;
    text-align: center;
    background-color: white;
    border-color: #d01388;
    cursor: pointer;
    max-width: 160px;
    display: block;
    font-weight: 900;
    
    box-shadow: inset 0px 0px 15px -4px #d01388;
}

.target-btn button:hover,
.target-btn button.select-order {
    color: white;
    background-color: #d01388;
    font-size: 15px;
}

.prod {
    max-width: 250px;
    margin: 0 auto;
}

.for_wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.prices {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prices span {
    margin: 10px;
}

span.x_currency {
    color: #d01388;
    font-size: 26px;
}

span.x_currency_old {
    font-size: 20px;
    color: rgb(178, 178, 178);
    text-decoration: line-through;
}

form.form_order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input,
select {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: 0px auto 16px;
    border: 1px solid rgb(231, 231, 231);
    background: rgb(248, 249, 249) none repeat scroll 0% 0%;
    border-radius: 3px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    padding-left: 26px;
    height: 63px;
}

.product_list,
.target_list_wrap {
    width: 100%;
}

button.sbn-btn {
    width: 100%;
    max-width: 270px;
    padding: 15px 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1em;
    transition: ease-in 0.2s color, ease-in 0.2s background;
    display: block;
    border-radius: 4px;
    text-align: center;
    background-color: #d01388;
    border-color: #d01388;
    cursor: pointer;
}

a.prod-name1,
a.prod-name2,
.to_form {
    color: #d01388;
    font-weight: 700;
}

.text-left {
    text-align: left;
}

.comments {
    font-size: 16px;
}

.comments h2 {
    display: block;
    font-size: 24px;
    margin: 0 auto;
    font-weight: bold;
}

.comment-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 15px 0;
}

.comment-item {
    position: relative;
}

.comment-item .user-ava {
    width: 50px;
    flex: 50px 0 0;
}

.user-info {
    padding-left: 15px;
    text-align: left !important;
}

.block-date {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: grey;
}

.user-info>div:first-child {
    padding-bottom: 10px;
    font-weight: 700;
}

.comments {
    margin-top: 50px;
}


.timer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: white;
    text-align: center;
    color: #ffffff;

    transition: opacity .3s;
    opacity: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1000;

    color: #e50038;
    font-weight: 700;
    font-family: "Roboto Condensed";
    text-transform: uppercase;
    border: 3px solid #d01388;
}

.timer--show {
    opacity: 1;
    pointer-events: auto;
}

.timer span {
    font-size: 27px;
    color: #d01388;
}

.count {
    white-space: nowrap;
    margin: 0 10px;
}

.alert {
    box-shadow: 1px 1px 5px 2px #000;
    position: fixed;
    top: 10px;
    right: 2px;
    padding: 10px 20px;
    max-width: 90%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    transition: opacity .3s;
    opacity: 0;
    border-radius: 10px;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    max-width: 406px;
}

.alert--show {
    opacity: 1;
    pointer-events: auto;
}

.alert__img {
    max-height: 50px;
    padding: 0;
    display: inline-block;
    margin-right: 5px;
    max-width: 50px;
    padding-right: 10px;
}

.timer .target-btn {
    width: 100%;
    padding: 7px 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #d01388;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1em;
    transition: ease-in 0.2s color, ease-in 0.2s background;
    display: block;
    border-radius: 4px;
    text-align: center;
    background-color: white;
    border-color: #d01388;
    cursor: pointer;
    max-width: 160px;
    display: block;
    font-weight: 900;
    margin: 0;
    border: 2px solid #d01388;
    text-transform: uppercase;
}

.timer .target-btn:hover {
    color: white;
    background-color: #d01388;
}


.pulse {
    border-radius: 50%;
    background: #d01388;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(224, 92, 169, 0.4);
    animation: pulse 2s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 156, 0.4);
    }

    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 44, 105, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 44, 97, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 44, 183, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 44, 151, 0);
        box-shadow: 0 0 0 10px rgba(204, 44, 111, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 44, 44, 0);
    }
}

@media(max-width:400px){
    .alert {
        max-width: 280px;
    }
}

.user-text img {
    max-width: 300px;
    display: block;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}
.wrapper-count {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.text-wrapper {
    padding-bottom: 5px;
}
@media(max-width:330px){
    .text-wrapper {
        font-size: 13px;
    }
}

.target-btn.side-btn a {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #d01388;
    border-color: #d01388;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}
.target-btn button{
    text-transform: uppercase;
    font-size: 13px;
}
button.sbn-btn{
    text-transform: uppercase;
}